/neoviolet
/neoviolet.exe
/apecli
/apecli.exe
config.json
history.txt
*.log

.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zstd
*.zip
*.7z
*.rar
*.bak
*.swp
*.swo

.vscode/
.idea/
.zed/
*.sublime-*

# Rust build artifacts
tools/apecli/target/
